fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pandas==2.2.3
numpy==1.26.4
yfinance==0.2.54
python-dotenv==1.0.1
schedule==1.2.2
pandas-ta==0.3.14b0
scikit-learn==1.5.1
matplotlib==3.9.2
motor==3.6.0
pymongo==4.9.0
pyjwt[crypto]==2.9.0
email-validator==2.2.0
pycryptodome==3.21.0
pyyaml==6.0.2
loguru==0.7.2
openpyxl==3.1.5
requests==2.32.4
pyflakes==3.2.0